*{
    font-family: Arial;
}

#dadosPessoais {
    text-align: center;
}

header, h3 {
    background-color: navy;
    color: #ffffff;
}

#contato{
    background-color: #ffffff;
    color: navy;
}

a{
    text-decoration: none;
    color: navy;
}

.empresa, .escola {
    font-weight: bold;
    color: navy;
}

#contato li, .empresa, #escolaridade li,#cursos li, .cargo,.descricao{
    list-style: none;
}

.cargo{
    font-weight: bold;
}

::selection{
    color: white;
    background-color: navy;
}