*{
    font-family: Arial;
}

#dadosPessoais {
    text-align: center;
}

header, h3 {
    background-color: navy;
    color: #ffffff;
}

#contato{
    background-color: #ffffff;
    color: navy;
}
.empresa, .escola {
    font-weight: bold;
    color: navy;
}

#contato li, .empresa, #escolaridade li,#cursos li{
    list-style: none;
}
